.chotot { background: yellow;}
input[type=submit] {cursor: pointer; font-weight:bold;}
#timtonghop, #timphong, #timnha, #timlaptop {font-size:120%;}
input {width:100%}
a {text-decoration:none;}
body {    width: 200px;}